.shelf-container {
  display: flex;
  margin: 100px;
  flex-wrap: wrap;
  width: 20%;
  min-height: 50px;
}

body .shelf-container {
  width: 80%;
}
body .shelf-container .shelf-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  position: relative;
  padding: 0px;
  margin: 0px 20px 20px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(233, 233, 233);
}
.shelf-container-header {
  width: 100%;
  margin-bottom: 10px;
}
.shelf-container-header .products-found {
  float: left;
  margin: 10px;
  margin-top: 8px;
}
.shelf-container-header .sort {
  float: right;
}
.shelf-container-header .sort select {
  background-color: #fff;
  outline: none;
  border: 1px solid #ececec;
  border-radius: 2px;
  margin-left: 10px;
  width: auto;
  height: 35px;
  cursor: pointer;
}
.shelf-container-header .sort select:hover {
  border: 1px solid #5b5a5e;
}
.shelf-container .shelf-item {
  display:flex;
  width: 50%;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  cursor: pointer;
}
.shelf-container .shelf-item:hover {
  border: 1px solid #eee;
}
.shelf-container .shelf-item:hover .shelf-item__buy-btn {
  background-color: #eabf00;
}
.shelf-container .shelf-item .shelf-stopper {
  position: absolute;
  color: #ececec;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 0.6em;
  background-color: #1b1a20;
  cursor: default;
}

.shelf-container .shelf-item .shelf-item__title {
  position: relative;
  padding: 0 20px;
  height: 80px;

}
.shelf-container .shelf-item .shelf-item__title .shelf-item__title__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 20px;
  height: 80px;
}
.shelf-container .shelf-item .shelf-item__title::before {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #eabf00;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}
.shelf-container .shelf-item__price {
  font-size: 10px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    line-height: 1;
    position: absolute;
    top: 65px;
    right: 0px;
    background-color: rgb(169,169,169);
    padding: 5px 10px;
    border-radius: 3px 0px 0px 3px;
}
.shelf-container .shelf-item__price .val b {
  font-size: 1.5em;
  margin-left: 5px;
}
.shelf-container .shelf-item__price .installment {
  color: #9c9b9b;
}
.shelf-container .shelf-item .shelf-item__buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #606D42;
  color: rgb(245, 245, 245);
  padding: 15px 0;
  margin: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
