
html .body{ 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}


.shelf-container {
  display: flex;
  /* margin: 100px; */
  margin: 15px;
  flex-wrap: wrap;
  width: 20%;
  min-height: 50px;
}


 .CampoQuantidade{
  width: 10px;
  margin-left: -244px ;
  display: -webkit-box;
  height: 112px;
}

@-moz-document url-prefix() {
  .CampoQuantidade{
    width: 10px;
    margin-left: 30px ;
    display: -webkit-box;
    height: 112px;
  }
}

@media not all and (min-resolution:.001dpcm) {   
    .safari10 { 
      color:#0000FF; 
      background-color:#CCCCCC; 
    }  
}
@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
  .CampoQuantidade{
    width: 10px;
    margin-left: 30px ;
    display: -webkit-box;
    height: 112px;
  }
}



  .p {
    margin-top: 0;
    margin-bottom: 0rem;
  }

.letra{
  font-size: 0.9rem;
}
 .CampoQuantidade .QuantidadeFilho{
  width: 110px;
  margin: 61%;
  padding: 14px;
  margin-bottom: auto;
}

 .CampoQuantidade .QuantidadeSemFilho{
  width: 83px;
  margin: 20%;
}

body .shelf-container {
  width: 80%;
  margin: 32px 13% 0;
}

 body .shelf-container {
  width: 80%;
  margin: 32px 13% 0;
}

 body  .shelf-container .shelf-item {
  width: 323px ;
  font-family:none ;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  position: relative;
  padding: 0px;
  margin: 0px 1px 38px -28px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(233, 233, 233) ;  
}
.shelf-container-header {
  width: 100%;
  margin-bottom: 10px;
}
.shelf-container-header .products-found {
  float: left;
  margin: 10px;
  margin-top: 8px;
}
.shelf-container-header .sort {
  float: right;
}
.shelf-container-header .sort select {
  background-color: #fff;
  outline: none;
  border: 1px solid #ececec;
  border-radius: 2px;
  margin-left: 10px;
  width: auto;
  height: 35px;
  cursor: pointer;
}
.shelf-container-header .sort select:hover {
  border: 1px solid #5b5a5e;
}
.shelf-container .shelf-item {
  display:flex;
  width: 50%;
  position: relative;
  text-align: -webkit-center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  cursor: pointer;
}
.shelf-container .shelf-item:hover {
  border: 1px solid #eee;
}
.shelf-container .shelf-item:hover .shelf-item__buy-btn {
  background-color: #eabf00;
}
.shelf-container .shelf-item .shelf-stopper {
  position: absolute;
  color: #ececec;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 0.6em;
  background-color: #1b1a20;
  cursor: default;
}

.shelf-container .shelf-item .shelf-item__title {
  position: relative;
  padding: 0 0px;
  height: 45px;

}
.shelf-container .shelf-item .shelf-item__title .shelf-item__title__text  {
  display: flex ;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px 18px;
  height: 77px;
}
.shelf-container .shelf-item .shelf-item__title::before {
  content: '';
  width: 20px;
  height: 2px;
   /* background-color: #eabf00;  */
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}
.shelf-container .shelf-item__price {
  font-size: 26px;
    font-weight: 1000; 
    color:#606D42;
    line-height: 1;
    /* position: absolute; */
    top: 65px;
    right: 0px;
    background-color:#D7D9CB;
    padding: 5px 71px;
    border-radius: 3px 0px 0px 3px;
}
.shelf-container .shelf-item__price .val b {
  font-size: 1.5em;
  margin-left: 5px;
}
.shelf-container .shelf-item__price .installment {
  color: #9c9b9b;
}
.shelf-container .shelf-item .shelf-item__buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 43px;
  background-color: #606D42;
  color: rgb(245, 245, 245);
  padding: 21px 0;
  margin: 13px;
  margin-top: 19px;
  margin-left: 35px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ais-SearchBox__wrapper > input{
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(233, 233, 233);
  border-image: initial;
  border-radius: 5px;
  padding: 15px 36px 15px 46px;
  margin: 15px 0;
}